.loader {
    margin: auto;
    border: 1px solid #EAF0F6;
    border-radius: 50%;
    border-top: 3px solid #FF7A59;
    width: 20px;
    height: 20px;
    animation: spinner 2s linear infinite;
    display:none;
  }
  
  @keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }